<footer class="footer bg-dark text-white py-4">
    <div class="container text-center text-md-start">
      <div class="row">
        <!-- Columna de descripción -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Mi Página</h5>
          <p>
            Bienvenido a Mi Página, donde encontrarás contenido interesante y actualizado.
          </p>
        </div>
        <!-- Columna de enlaces -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#/inicio" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="#/acercade" class="text-white text-decoration-none">Acerca de nosotros</a></li>
            <li><a href="#/lisempleados" class="text-white text-decoration-none">Lista de empleados</a></li>
            <li><a href="#/registro" class="text-white text-decoration-none">Registro</a></li>
          </ul>
        </div>
        <!-- Columna de redes sociales -->
        <div class="col-md-4 mb-3 text-center text-md-start">
          <h5 class="text-uppercase">Síguenos</h5>
          <a href="https://www.facebook.com/DeliziaBolivia/" target="_blank" class="text-white me-3">
            <i class="bi bi-facebook"></i>
          </a>
          <!-- Enlace a Twitter -->
  <a href="https://twitter.com/DeliziaBolivia/" target="_blank" class="text-white me-3">
    <i class="bi bi-twitter"></i>
  </a>

  <!-- Enlace a Instagram -->
  <a href="https://www.instagram.com/DeliziaBolivia/" target="_blank" class="text-white me-3">
    <i class="bi bi-instagram"></i>
  </a>
        </div>
      </div>
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2024 Mi Página. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  