<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-uppercase" href="#">Helados Delizia</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#/acercade">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#/lisempleados">Lista de Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#/perempleados">Nuestros Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/graficos">Gráfico</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
